CEM-C31 RS485-to-LoRa-Node-RED Flow.txt
[{"id":"5c64f51a.6c041c","type":"mqtt in","z":"6f923308.f1a21c","name":"","topic":"armari_1/devices/armari_1/up","qos":"2","datatype":"auto","broker":"626fed01.440d94","x":210,"y":140,"wires":[["184ca851.b7f9a8"]]},{"id":"9a9a254f.522b18","type":"debug","z":"6f923308.f1a21c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":140,"wires":[]},{"id":"184ca851.b7f9a8","type":"function","z":"6f923308.f1a21c","name":"Payload_fields","func":"var msg1 = { payload: msg.payload.length };\nmsg1.payload = JSON.parse(msg.payload);\nmsg1.payload = msg1.payload.payload_fields;\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":140,"wires":[["1d000d3d.2983d3"]]},{"id":"1d000d3d.2983d3","type":"function","z":"6f923308.f1a21c","name":"voltage_Phase1","func":"var a = msg.payload;\nmsg.payload=a.voltage_Phase1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":140,"wires":[["9a9a254f.522b18","f9fe177b.41b048"]]},{"id":"f9fe177b.41b048","type":"function","z":"6f923308.f1a21c","name":"JSON pairs","func":"var voltage_Phase1 = msg.payload;\n\nreturn {payload:{voltage_Phase1:voltage_Phase1\n}}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":220,"wires":[["1635d68b.4efe49","179abe73.1891d2"]]},{"id":"1635d68b.4efe49","type":"debug","z":"6f923308.f1a21c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1120,"y":220,"wires":[]},{"id":"179abe73.1891d2","type":"influxdb out","z":"6f923308.f1a21c","influxdb":"80701388.a5bea","name":"","measurement":"energia","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1140,"y":300,"wires":[]},{"id":"626fed01.440d94","type":"mqtt-broker","z":"6f923308.f1a21c","name":"","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"80701388.a5bea","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"CEMC31","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]